* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(192, 100%, 9%);
}

.container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.logo {
    width: 20%;
    height: auto;
    cursor: pointer;
}

.logo>img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    margin-right: 150px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.nav-link>a {
    border: 1px solid hsl(322, 100%, 66%);
    width: 50%;
    text-align: center;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}

.hero>h1 {
    font-size: 3rem;
    font-weight: 700;
    height: auto;
    margin-bottom: 30px;
}

.hero>p {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    height: auto;
}

.btn {
    width: 30%;
    margin-top: 30px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background: hsl(322, 100%, 66%);
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

/* banner */

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.banner>img {
    max-width: 80%;
    height: auto;
    margin-left: 70px;
}


/* stats */

.stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 200px;
}

.communities {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
}

.communities>img {
    width: 20%;
    margin-bottom: 30px;
}

.communities>h1 {
    font-size: 8rem;
    font-weight: 900;

}

.communities>p {
    color: #444;
    font-size: 1.5rem;
}

.messages {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 20%;
}

.messages>img {
    width: 20%;
    margin-bottom: 30px;
}

.messages>h1 {
    font-size: 8rem;
    font-weight: 900;

}

.messages>p {
    color: #444;
    font-size: 1.5rem;
    margin-left: 50px;
}

/* grow together */

.grow-together {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.grow-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-left: 70px;
}

.grow-text>h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 900;
    width: 80%;
}

.grow-text>p {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.05rem;
    width: 80%;
    height: auto;
}

.grow-image {
    width: 50%;
}

/* conversation */

.conversation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 200px 0px 100px 30px;
}


.conv-image {
    margin-left: 30px;
    width: 40%;
}

.conv-image>img {
    height: auto;
    max-width: 80%;
}

.conv-text {
    width: 50%;
    margin-right: 180px;
    height: auto;
}

.conv-text>h1 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
}

.conv-text>p {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 1.2rem;
    width: 100%;
}

/* users */
.users {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.users-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-left: 70px;
}

.users-text>h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 900;
    width: 80%;
}

.users-text>p {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.05rem;
    width: 80%;
    height: auto;
}

.users-image {
    width: 50%;
}

/* ready */

.ready {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 180px;
}

.ready>h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.ready>button {
    margin-bottom: 100px;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: hsl(192, 100%, 9%);
}

.contact-us {
    width: 50%;
    margin-left: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.home {
    height: auto;
}

.home>img {
    margin-bottom: 30px;
    color: #fff;
}

.home>p {
    width: 60%;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #fff;
}

.tel {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
}

.tel>h3 {
    padding: 10px;
    color: #fff;
}

.social {
    display: flex;
    width: 30%;
}

.social>li {
    list-style: none;
    padding: 10px;
}

.social li i {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.newsletter {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 50px;
    color: #fff;
}

.newsletter>h1 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
}

.newsletter>p {
    width: 70%;
    font-size: 1rem;
}

form {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

input {
    height: 40px;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#button {
    width: 25%;
    height: 40px;
    margin-left: 20px;
    color: #fff;
    background: hsl(322, 100%, 66%);
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* media queries */

@media(max-width:320px) {

    .container {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: auto;
    }

    .logo {
        height: auto;
        cursor: pointer;
        width: 40%;
    }

    .logo>img {
        height: auto;
        width: 100%;
        margin-left: 10px;
    }

    .nav-link {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 3px;
    }

    .nav-link>a {
        border: 1px solid hsl(322, 100%, 66%);
        width: 75%;
        text-align: center;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 50px;
        color: hsl(322, 100%, 66%);
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }

    /* hero */

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }

    .hero>h1 {
        font-size: 3rem;
        font-weight: 700;
        height: auto;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero>p {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 80%;
        margin-top: 30px;
        height: 70px;
        border: none;
        border-radius: 50px;
        background: hsl(322, 100%, 66%);
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
    }

    /* banner */

    .banner {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner>img {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    /* stats */

    .stats {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        margin: auto;
    }

    .communities {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .communities>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .communities>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .communities>p {
        color: #444;
        font-size: 1.5rem;
    }

    .messages {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .messages>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .messages>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .messages>p {
        color: #444;
        font-size: 1.5rem;
        margin-left: 50px;
    }

    /* grow together */

    .grow-together {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grow-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .grow-text>h1 {
        margin-bottom: 30px;
        font-size: 2.3rem;
        font-weight: 900;
        width: 100%;
        margin-top: 50px;
    }

    .grow-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 80%;
        text-align: center;
        height: auto;
    }

    .grow-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
    }

    /* conversation */

    .conversation {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conv-image {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .conv-image>img {
        max-width: 100%;
        height: auto;
    }

    .conv-text {
        width: 100%;
        height: auto;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .conv-text>h1 {
        font-size: 2.3rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 30px 60px 0px 20px;
    }

    .conv-text>p {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 1.2rem;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-right: 60px;
    }

    /* users */
    .users {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .users-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .users-text>h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: 900;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        margin-right: 55px;
    }

    .users-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 60px;
        display: flex;
    }

    .users-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    /* ready */

    .ready {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 50px;
    }

    .ready>h1 {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ready>button {
        margin-bottom: 100px;
    }

    /* footer */

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #444;
        flex-direction: column-reverse;
    }

    .contact-us {
        width: 100%;
        margin-left: 70px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }

    .home {
        height: auto;
        width: 100%;
    }

    .home>img {
        margin-bottom: 30px;
        color: #fff;
        width: 50%;
    }

    .home>p {
        width: 90%;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .tel {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
    }

    .social {
        display: flex;
        width: 30%;
    }

    .social>li {
        list-style: none;
        padding: 10px;
    }

    .social li i {
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-left: 50px;
    }

    .newsletter>h1 {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .newsletter>p {
        width: 90%;
        font-size: 1rem;
    }

    form {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: flex-end; */
        margin-right: 100px;
    }

    input {
        height: 40px;
        width: 80%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    #button {
        width: 40%;
        height: 40px;
        margin-left: 130px;
        color: #fff;
        background: hsl(322, 100%, 66%);
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
}

@media(min-width:321px) and (max-width:480px) {

    .container {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: auto;
    }

    .logo {
        height: auto;
        cursor: pointer;
        width: 40%;
    }

    .logo>img {
        height: auto;
        width: 100%;
        margin-left: 10px;
    }

    .nav-link {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 3px;
    }

    .nav-link>a {
        border: 1px solid hsl(322, 100%, 66%);
        width: 75%;
        text-align: center;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 50px;
        color: hsl(322, 100%, 66%);
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }

    /* hero */

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }

    .hero>h1 {
        font-size: 2rem;
        font-weight: 700;
        height: auto;
        margin-bottom: 30px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero>p {
        width: 80%;
        text-align: center;
        font-size: 1.2rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 80%;
        margin-top: 30px;
        height: 70px;
        border: none;
        border-radius: 50px;
        background: hsl(322, 100%, 66%);
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
    }

    /* banner */

    .banner {
        width: 80%;
        height: auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .banner>img {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
    }


    /* stats */

    .stats {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        margin: auto;
    }

    .communities {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .communities>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .communities>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .communities>p {
        color: #444;
        font-size: 1.5rem;
    }

    .messages {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .messages>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .messages>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .messages>p {
        color: #444;
        font-size: 1.5rem;
        margin-left: 50px;
    }

    /* grow together */

    .grow-together {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grow-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .grow-text>h1 {
        margin-bottom: 30px;
        font-size: 2.3rem;
        font-weight: 900;
        width: 100%;
        margin-top: 50px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .grow-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .grow-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
    }

    /* conversation */

    .conversation {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conv-image {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .conv-image>img {
        max-width: 100%;
        height: auto;
    }

    .conv-text {
        width: 100%;
        height: auto;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .conv-text>h1 {
        font-size: 2.3rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 30px 60px 0px 20px;
    }

    .conv-text>p {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 1.2rem;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-right: 60px;
    }

    /* users */
    .users {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .users-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .users-text>h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: 900;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        margin-right: 55px;
    }

    .users-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 60px;
        display: flex;
    }

    .users-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    /* ready */

    .ready {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 50px;
    }

    .ready>h1 {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ready>button {
        margin-bottom: 100px;
    }

    /* footer */

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #444;
        flex-direction: column-reverse;
    }

    .contact-us {
        width: 100%;
        margin-left: 70px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }

    .home {
        height: auto;
        width: 100%;
    }

    .home>img {
        margin-bottom: 30px;
        color: #fff;
        width: 50%;
    }

    .home>p {
        width: 90%;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .tel {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
    }

    .social {
        display: flex;
        width: 30%;
    }

    .social>li {
        list-style: none;
        padding: 10px;
    }

    .social li i {
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-left: 50px;
    }

    .newsletter>h1 {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .newsletter>p {
        width: 90%;
        font-size: 1rem;
    }

    form {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 100px;
    }

    input {
        height: 40px;
        width: 80%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    #button {
        width: 40%;
        height: 40px;
        margin-left: 190px;
        color: #fff;
        background: hsl(322, 100%, 66%);
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
}


/* tablet view */
@media(min-width:481px) and (max-width:767px) {

    .container {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: auto;
    }

    .logo {
        height: auto;
        cursor: pointer;
        width: 40%;
    }

    .logo>img {
        height: auto;
        width: 100%;
        margin-left: 10px;
    }

    .nav-link {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-right: 3px;
    }

    .nav-link>a {
        border: 1px solid hsl(322, 100%, 66%);
        width: 50%;
        text-align: center;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 50px;
        color: hsl(322, 100%, 66%);
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }

    /* hero */

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }

    .hero>h1 {
        font-size: 2rem;
        font-weight: 700;
        height: auto;
        margin-bottom: 30px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero>p {
        width: 80%;
        text-align: center;
        font-size: 1.2rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 60%;
        margin-top: 30px;
        height: 70px;
        border: none;
        border-radius: 50px;
        background: hsl(322, 100%, 66%);
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
    }

    /* banner */

    .banner {
        width: 80%;
        height: auto;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .banner>img {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
    }


    /* stats */

    .stats {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        margin: auto;
    }

    .communities {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .communities>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .communities>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .communities>p {
        color: #444;
        font-size: 1.5rem;
    }

    .messages {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .messages>img {
        width: 30%;
        margin-bottom: 30px;
    }

    .messages>h1 {
        font-size: 5rem;
        font-weight: 700;

    }

    .messages>p {
        color: #444;
        font-size: 1.5rem;
        margin-left: 50px;
    }

    /* grow together */

    .grow-together {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grow-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .grow-text>h1 {
        margin-bottom: 30px;
        font-size: 2.3rem;
        font-weight: 900;
        width: 100%;
        margin-top: 50px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .grow-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .grow-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
    }

    /* conversation */

    .conversation {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .conv-image {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .conv-image>img {
        max-width: 100%;
        height: auto;
    }

    .conv-text {
        width: 100%;
        height: auto;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .conv-text>h1 {
        font-size: 2.3rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 30px 60px 0px 20px;
    }

    .conv-text>p {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 1.2rem;
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-right: 60px;
    }

    /* users */
    .users {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .users-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .users-text>h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: 900;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        margin-right: 55px;
    }

    .users-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 60px;
        display: flex;
    }

    .users-image {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    /* ready */

    .ready {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 50px;
    }

    .ready>h1 {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ready>button {
        margin-bottom: 100px;
    }

    /* footer */

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #444;
        flex-direction: column-reverse;
    }

    .contact-us {
        width: 100%;
        margin-left: 70px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }

    .home {
        height: auto;
        width: 100%;
    }

    .home>img {
        margin-bottom: 30px;
        color: #fff;
        width: 50%;
    }

    .home>p {
        width: 90%;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .tel {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 30px;
    }

    .social {
        display: flex;
        width: 30%;
    }

    .social>li {
        list-style: none;
        padding: 10px;
    }

    .social li i {
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-left: 50px;
    }

    .newsletter>h1 {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .newsletter>p {
        width: 90%;
        font-size: 1rem;
    }

    form {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 100px;
    }

    input {
        height: 40px;
        width: 80%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    #button {
        width: 40%;
        height: 40px;
        margin-left: 310px;
        color: #fff;
        background: hsl(322, 100%, 66%);
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
}

@media(min-width:768px) {
    .container {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px;
    }

    .logo {
        width: 20%;
        height: auto;
        cursor: pointer;
    }

    .logo>img {
        max-width: 100%;
        height: auto;
    }

    .nav-link {
        margin-right: 150px;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .nav-link>a {
        border: 1px solid hsl(322, 100%, 66%);
        width: 50%;
        text-align: center;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-radius: 50px;
        color: hsl(322, 100%, 66%);
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }

    /* hero */

    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
        width: 100%;
        height: auto;
    }

    .hero>h1 {
        font-size: 3rem;
        font-weight: 700;
        height: auto;
        margin-bottom: 30px;
    }

    .hero>p {
        width: 50%;
        text-align: center;
        font-size: 1.2rem;
        height: auto;
    }

    .btn {
        width: 30%;
        margin-top: 30px;
        height: 70px;
        border: none;
        border-radius: 50px;
        background: hsl(322, 100%, 66%);
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 1.2rem;
    }

    /* banner */

    .banner {
        width: 100%;
        height: auto;
        margin-bottom: 150px;
    }

    .banner>img {
        max-width: 80%;
        height: auto;
        margin-left: 70px;
    }


    /* stats */

    .stats {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin-bottom: 200px;
    }

    .communities {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 20%;
    }

    .communities>img {
        width: 20%;
        margin-bottom: 30px;
    }

    .communities>h1 {
        font-size: 8rem;
        font-weight: 900;

    }

    .communities>p {
        color: #444;
        font-size: 1.5rem;
    }

    .messages {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 20%;
    }

    .messages>img {
        width: 20%;
        margin-bottom: 30px;
    }

    .messages>h1 {
        font-size: 8rem;
        font-weight: 900;

    }

    .messages>p {
        color: #444;
        font-size: 1.5rem;
        margin-left: 50px;
    }

    /* grow together */

    .grow-together {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .grow-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin-left: 70px;
    }

    .grow-text>h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: 900;
        width: 80%;
    }

    .grow-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 80%;
        height: auto;
    }

    .grow-image {
        width: 50%;
    }

    /* conversation */

    .conversation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 200px 0px 100px 30px;
    }


    .conv-image {
        margin-left: 30px;
        width: 40%;
    }

    .conv-image>img {
        height: auto;
        max-width: 80%;
    }

    .conv-text {
        width: 50%;
        margin-right: 180px;
        height: auto;
    }

    .conv-text>h1 {
        font-size: 3rem;
        font-weight: 900;
        width: 100%;
    }

    .conv-text>p {
        margin-top: 30px;
        line-height: 1.5;
        font-size: 1.2rem;
        width: 100%;
    }

    /* users */
    .users {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .users-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin-left: 70px;
    }

    .users-text>h1 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: 900;
        width: 80%;
    }

    .users-text>p {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.05rem;
        width: 80%;
        height: auto;
    }

    .users-image {
        width: 50%;
    }

    /* ready */

    .ready {
        width: 100%;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 180px;
    }

    .ready>h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .ready>button {
        margin-bottom: 100px;
    }

    /* footer */

    footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: hsl(192, 100%, 9%);
    }

    .contact-us {
        width: 50%;
        margin-left: 70px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }

    .home {
        height: auto;
    }

    .home>img {
        margin-bottom: 30px;
        color: #fff;
    }

    .home>p {
        width: 60%;
        margin-bottom: 30px;
        line-height: 1.5;
        color: #fff;
    }

    .tel {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 30px;
    }

    .tel>h3 {
        padding: 10px;
        color: #fff;
    }

    .social {
        display: flex;
        width: 30%;
    }

    .social>li {
        list-style: none;
        padding: 10px;
    }

    .social li i {
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 50px;
        color: #fff;
    }

    .newsletter>h1 {
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #fff;
    }

    .newsletter>p {
        width: 70%;
        font-size: 1rem;
    }

    form {
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    input {
        height: 40px;
        width: 50%;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }

    #button {
        width: 25%;
        height: 40px;
        margin-left: 20px;
        color: #fff;
        background: hsl(322, 100%, 66%);
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

}